<h1>Componente listado:</h1>
<table>
    <tr *ngFor="let heroe of heroes; let i = index">
        <td>{{heroe.nombre}}</td>
        <td><button type="button" (click)="eliminarHeroe(i)">Eliminar</button></td>
        <td><button type="button" (click)="modificarHeroe(i)">Modificar</button></td>
        <td><button type="button" (click)="verDetallesHeroe(i)">Ver Detalles</button></td>
        <td *ngIf="seleccionado && indice == i">
            {{heroeDetalle.id}} - {{heroeDetalle.nombre}} - {{heroeDetalle.edad}}
        </td>
    </tr>
</table>
<br>

<div class="divModificado" *ngIf="selecModificado && heroeModificado.nombre && !eliminado">
    <h3>Modificar heroe {{heroeModificado.nombre}}</h3>
    <div>
        <label for="name">Name</label>
        <input type="text" id="username" name="username" #username>
        <button type="button" (click)="submit(username.value)">Aceptar modificaciones</button>
        <br><br>
    </div>
</div>

<ng-container *ngIf="heroeEliminado.nombre; else ningunoBorrado">
    <br><br>Se eliminó: {{heroeEliminado.nombre}}
</ng-container>
<ng-template #ningunoBorrado>
    <br><br>No se borró ningún heroe
</ng-template>
