<h1>Componente listado:</h1>
<table>
    <tr *ngFor="let heroe of heroes; let i = index">
        <td><button type="button" class="btn-modificar" (click)="modificarHeroe(i)">Modificar</button></td>
        <td><button type="button" class="btn-danger" (click)="eliminarHeroe(i)">Eliminar</button></td>
        <td><button type="button" class="btn-heroes" (click)="verDetallesHeroe(i)">{{heroe.nombre}}</button></td>
        <td *ngIf="selecVerDetalles && indice == i">
            <div class="detalles">
                Nombre: <label>{{heroeDetalle.nombre}}</label> Edad: <label>{{heroeDetalle.edad}}</label>
            </div>
        </td>
    </tr>
</table>
<br>

<div class="divModificado" *ngIf="selecModificado && heroeModificado.nombre && !eliminado">
    <h3>Modificar héroe:</h3>
    <div>
        <input type="text" value="{{heroeModificado.nombre}}" id="username" name="username" #username>
        <br>
        <input type="text" value="{{heroeModificado.edad}}" id="edad" name="edad" #edad>
        <br><br>
        <button type="button" class="btn-aceptarmodif" (click)="submit(username.value, edad.value)">Aceptar modificaciones</button>
        <br><br>
    </div>
</div>

<ng-container *ngIf="heroeEliminado.nombre; else ningunoBorrado">
    <h3>Se eliminó: <label>{{heroeEliminado.nombre}}</label></h3>
</ng-container>
<ng-template #ningunoBorrado>
    <h3>No se borró ningún héroe</h3>
</ng-template>

<ng-container *ngIf="heroeDetalle.nombre; else ningunoSeleccionado">
    <h3>Se seleccionó el héroe: <label>{{heroeDetalle.nombre}}</label></h3>
</ng-container>
<ng-template #ningunoSeleccionado>
    <h3>No se seleccionó ningún héroe.</h3>
</ng-template>
